{% extends "base.html" %}
{% block title %}Discussion - {% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="theme-style" rel="stylesheet" href="/static/css/discussion/styles2.css">
{% endblock %}
{% block content %}
    {#    Put body code here #}
    <div class="top-bar" style="background-color: {{ catDetail[3] }}">
        <div class="top-title">
            <i class="{{ catDetail[2] }}" style="font-size: 35px;"></i><br>
            <a type="button" id="catBtn" class="dropdown">{{ cat }} <span
                    style="position: absolute; padding-left: 5px;"><i class="fas fa-caret-down" id="catBtn"></i></span></a>
            <div id="myDropdown" class="dropdown-content" align="center">
                {% for categoryList in catList %}
                    <a href="{{ url_for('discussion', category = categoryList[1], page = 1) }}">{{ categoryList[1] }}</a>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="container-body">

        <div class="wrapper">
            <div class="top-search-bar">
                <form class="form-inline" action="#">
                    <div class="form-group">
                        <a type="button" class="btn btn-outline" id="beatutor" href="{{ url_for('newpost',category = cat) }}"
                           style="border-color: {{ catDetail[3] }}; color: {{ catDetail[3] }};">NEW DISCUSSION
                            <i class="fas fa-plus" style="font-size: 14px; padding-bottom: 1px"></i></a>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="SEARCH" name="search">
                        <button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
        <div class="wrapper">
            {% for data in discussion %}
                <div class="main-wrapper">
                    <div class="main-right">
                        <h6 class="section-title">
                            <i class="far fa-edit"></i> {{ comment[loop.index-1] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="far fa-clock"></i> {{ time[loop.index-1] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-user"></i> {{ data[8] }} {{ data[9] }}
                        </h6>
                    </div>
                    <div class="main-left">
                        <div class="profile-img"><img class="rounded-circle"
                                                      src="/static/img/{{ data[10] }}"
                                                      alt="Generic placeholder image" width="45" height="45">
                        </div>
                        <h4 class="section-title"><a
                                href="{{ url_for('discussion_post', category = cat, dis_id = data[1]) }}">{{ data[5] }}</a>
                        </h4>
                        <h6 class="section-title">{{ content[loop.index-1] }}</h6>
                    </div>
                    <div class="main-right-small">
                        <h6 class="section-title">
                            <i class="far fa-clock"></i> {{ time[loop.index-1] }} &nbsp;
                            <i class="fas fa-user"></i> {{ data[8] }} {{ data[9] }}
                        </h6>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>

        <nav class="navPage" style="text-align: center">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('discussion',category = cat, page = page - 1) }}">Previous</a>
                    </li>
                {% endif %}
                {% if numofPage < 10 %}
                    {% for pages in range(1,numofPage + 1) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('discussion',category = cat, page = pages  ) }}">{{ pages }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if page <5 %}
                        {% for pages in range(1,10) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('discussion',category = cat, page =pages  ) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for pages in range(page - 5,page + 5,1) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('discussion',category = cat, page =pages  ) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if page < numofPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('discussion',category = cat, page = page + 1) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <script>
        $(document).ready(function () {
            $(".dropdown").click(function () {
                if ($("#myDropdown").css("display") == "none") {
                    console.log(0);
                    $("#myDropdown").show();
                } else {
                    $("#myDropdown").hide();
                    console.log(1);
                }
                console.log(3);
            });

            $("#catBtn").hover(function () {
                $("#catBtn").css('border-bottom', '4px solid');
                $("#catBtn").css('opacity', '0.9');

            }, function () {
                if ($('#myDropdown').css('display') == 'block') {
                    {#                    $("#catBtn").html('{{ cat }} <i class="fas fa-caret-down" id="dropdown-icon"></i>');#}
                } else {
                    $("#catBtn").css('border-bottom', '0px solid');
                    $("#catBtn").css('opacity', '1.0');

                }
            });
            $(window).click(function () {
                if ($('#myDropdown').css('display') == 'block') {
                    $("#catBtn").css('border-bottom', '4px solid');
                    $("#catBtn").css('opacity', '0.9');
                } else {
                    if ($("#catBtn").is(":hover")) {
                        $("#catBtn").css('border-bottom', '4px solid');
                        $("#catBtn").css('opacity', '0.9');
                    } else {
                        $("#catBtn").css('border-bottom', '0px solid');
                        $("#catBtn").css('opacity', '1.0');
                    }
                }
            });
            $(document).mouseup(function (e) {
                if (!($(".dropdown").is(e.target) || $("#dropIcon").is(e.target))) {
                    $("#myDropdown").hide();
                }

            });
        });
    </script>
{% endblock %}