{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    <style>
        .row {
            margin-left: 1%;
        }

        .jumbotron {
            background: url('/static/img/home-bg.jpg');
            background-repeat: no-repeat;
            background-size: 100% Auto;
            color: black;
            font-size: 2vw;
        }

        .btn-outline, .btn-outline:hover {
            border-color: currentcolor;
        }

        .btn-outline {
            border-radius: var(--border-radius);
            background-color: transparent;
            border-radius: 2px;
        }

        .btn-outline:hover {
        {#        box-shadow: inset 0 0 0 20rem var(--darken-1);#} color: white;
            background-color: black;
            border-color: black;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: white;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            color: white;
        }

        .filter {
            color: #999999;
        }

        .company-img {
            float: left;
            margin-right: 5px;
        }

        .job-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .job-name a {
            color: black;
        }

        .job-name a:hover {
            color: #377bb5;
            text-decoration: none;
        }

        .company-name a {
            color: black;
        }

        .company-name a:hover {
            color: #377bb5;
            text-decoration: none;
        }

        .job-item-footer {
            color: darkgray;
        }

        .job-cat {
            float: left;
        }

        .job-date {
            float: right;
        }

        .search-box {
            float: left;
            margin-top: 16px;
            color: black;
        }

        .search-box input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

        .search-box button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }

        .search-box button:hover {
            background: #ccc;
        }

        @font-face {
            font-family: "Nunito-Regular";
            src: url("static/fonts/Nunito-Regular.ttf");
        }

        h4 {
            font-family: 'Nunito-Regular', "Helvetica Neue", sans-serif;
            font-weight: normal;
            font-style: normal;
        }

        a {
            color: white;
        }

        .hoverbutton:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);

        }

        .hoverbutton {
            position: relative;
            appearance: none;
            background: #c46c5f;
            padding: 1em 2em;
            border: none;
            color: white;
            font-size: 1.2em;
            cursor: pointer;
            outline: none;
            overflow: hidden;
            width: 100%;
            height: 120px;
            font-size: 20px;
        }

        .hoverbutton span {
            position: relative;
            pointer-events: none;
            transition: 0.25s;
        }

        .hoverbutton:hover {
            background-image: none !important;
            background-color: black !important;
            color: #fdce86;

        }

        .hoverbutton:hover span:after {
            opacity: 1;
            right: 0;
        {#font-size: 20px;#}
        }

        #hoverbuttwo {
            background-color: #647a90;
        }

        #hoverbutthree {
            background-color: #40adcf;
        }

        #hoverbutfour {
            background-color: #347aa9;
        }

        #hoverbutfive {
            background-color: #e97734;
        }

        #hoverbutsix {
            background-color: #df535b;
        }

        #hoverbutseven {
            background-color: #c28ed2;
        }

        #hoverbuteight {
            background-color: #e3992b;
        }

        #hoverbutnine {
            background-color: #5fb764;
        }

        #hoverbutten {
            background-color: #27898b;
        }

        .col-md-4 {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 767px) {
            .jumbotron {
                background: #eeeeee;
                background-size: Auto 100%;
            }
        }

    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container" align="center">
            <br>
            <br>
            <br>
            <h1 class="display-3">Learn, Share, Explore.</h1>
            <p>Your all in one community for university life!</p>
            <br>
            <br>
            <button class="btn btn-outline btn-lg">View All Discussion</button>
            <br>
            <br>
            <br>


        </div>
    </div>
    <div class="container" align="center">
        <h3>View Discussion By Faculty</h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[0]) }}">
                    <button class="button hoverbutton" id="hovbutone">
                        <i class="fas fa-paint-brush" style="font-size: 35px;"></i><br>
                        <span>ARCHITECTURE</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[1]) }}">
                    <button class="button hoverbutton" id="hoverbuttwo">
                        <i class="fas fa-file-alt" style="font-size: 35px;"></i><br>
                        <span>ARTS</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[2]) }}">
                    <button class="button hoverbutton" id="hoverbutthree">
                        <i class="fas fa-briefcase" style="font-size: 35px;"></i><br>
                        <span>BUSINESS</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[3]) }}">
                    <button class="button hoverbutton" id="hoverbutfour">
                        <i class="fas fa-comments" style="font-size: 35px;"></i><br>
                        <span>COMMUNICATION ARTS</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[4]) }}">
                    <button class="button hoverbutton" id="hoverbutfive">
                        <i class="fas fa-donate" style="font-size: 35px;"></i><br>
                        <span>ECONOMIC</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[5]) }}">
                    <button class="button hoverbutton" id="hoverbutsix">
                        <i class="fas fa-cogs" style="font-size: 35px;"></i><br>
                        <span>ENGINEERING</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[6]) }}">
                    <button class="button hoverbutton" id="hoverbutseven">
                        <i class="far fa-smile" style="font-size: 35px;"></i><br>


                        <span>PSYCHOLOGY</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[7]) }}">
                    <button class="button hoverbutton" id="hoverbuteight">
                        <i class="fas fa-dna" style="font-size: 35px;"></i><br>
                        <span>SCIENCE</span>
                    </button>
                </a>
            </div>


        </div>
        <br>

        <h3>Other Discussion</h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[8]) }}">
                    <button class="button hoverbutton" id="hoverbutnine">
                        <i class="fab fa-leanpub" style="font-size: 35px;"></i><br>
                        <span>GENERAL EDUCATION</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = catlist[9]) }}">
                    <button class="button hoverbutton" id="hoverbutten">
                        <i class="fas fa-futbol" style="font-size: 35px;"></i><br>
                        <span>ACTIVITY</span>
                    </button>
                </a>
            </div>
        </div>
        <br>
    </div> <!-- /container -->
{% endblock %}