{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    <style>
        .row {
            margin-left: 1%;
        }

        .jumbotron {
            background: url('/static/img/home-bg.jpg');
            background-repeat: no-repeat;
            background-size: 100% Auto;
            color: black;
            font-size: 2vw;
        }

        .btn-outline, .btn-outline:hover {
            border-color: currentcolor;
        }

        .btn-outline {
            background-color: transparent;
            border-color: #000;
            color: #000;
            border-radius: 2px;
        }

        .btn-outline:hover {
        {#        box-shadow: inset 0 0 0 20rem var(--darken-1);#} color: white;
            background-color: black;
            border-color: black;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: white;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            color: white;
        }

        .filter {
            color: #999999;
        }

        .company-img {
            float: left;
            margin-right: 5px;
        }

        .job-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .job-name a {
            color: black;
        }

        .job-name a:hover {
            color: #377bb5;
            text-decoration: none;
        }

        .company-name a {
            color: black;
        }

        .company-name a:hover {
            color: #377bb5;
            text-decoration: none;
        }

        .job-item-footer {
            color: darkgray;
        }

        .job-cat {
            float: left;
        }

        .job-date {
            float: right;
        }

        .search-box {
            float: left;
            margin-top: 16px;
            color: black;
        }

        .search-box input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

        .search-box button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }

        .search-box button:hover {
            background: #ccc;
        }

        @font-face {
            font-family: "Nunito-Regular";
            src: url("static/fonts/Nunito-Regular.ttf");
        }

        h4 {
            font-family: 'Nunito-Regular', "Helvetica Neue", sans-serif;
            font-weight: normal;
            font-style: normal;
        }

        a {
            color: white;
        }

        .hoverbutton:active {
            transform: translateY(2px);
        }

        .hoverbutton {
            position: relative;
            appearance: none;
            background: #c46c5f;
            padding: 1em 2em;
            border: none;
            color: white;
            font-size: 1.2em;
            cursor: pointer;
            outline: none;
            overflow: hidden;
            width: 100%;
            height: 120px;
            font-size: 20px;
        }

        .hoverbutton:hover {
            background-image: none !important;
            background-color: black !important;
            color: #fdce86;
        }

        .col-md-4 {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 767px) {
            .jumbotron {
                background: #eeeeee;
                background-size: Auto 100%;
            }
        }

    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container" align="center">
            <br>
            <br>
            <br>
            <h1 class="display-3">Learn, Share, Explore.</h1>
            <p>Your all in one community for university life!</p>
            <br>
            <br>
            <a href="{{ url_for('newpost',category = "Architecture") }}" class="btn btn-outline btn-lg">Start New Discussion</a>
            <br>
            <br>
            <br>


        </div>
    </div>
    <div class="container" align="center">
        <h3>View Discussion By Faculty</h3>
        <br>
        <div class="row">
            {% for fac in faclist  %}
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = fac[1]) }}">
                    <button class="button hoverbutton" style="background-color: {{ fac[3] }} ">
                        <i class="{{ fac[2] }}" style="font-size: 35px;"></i><br>
                        <span>{{ fac[1].upper() }}</span>
                    </button>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>

        <h3>Other Discussion</h3>
        <br>
        <div class="row">
            {% for other in othList %}
            <div class="col-md-4">
                <a href="{{ url_for('discussion', category = other[1]) }}">
                    <button class="button hoverbutton"  style="background-color: {{ other[3] }}">
                        <i class="{{ other[2] }}" style="font-size: 35px;"></i><br>
                        <span>{{ other[1].upper() }}</span>
                    </button>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>
    </div> <!-- /container -->
{% endblock %}