{% extends "base.html" %}
{% block title %}Job Profile - {% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    {#    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'#}
    {#          rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="theme-style" rel="stylesheet" href="/static/css/job-profile/styles.css">
{% endblock %}
{% block content %}
    {#    Put body code here #}
    <div class="modal fade" id="resumesubmit" tabindex="-1" role="dialog" aria-labelledby="edit"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Upload Your Resume</h4>
                </div>
                <form enctype="multipart/form-data" class="form-horizontal"
                      action="{{ url_for('applyjob', jobID = job[0]) }}" method="POST" onsubmit="return checkuploadresume()" >
                    <div style="text-align: center; width:100%" class="modal-body">
                        <div>
                            <img id="img0" src="#" alt="" style="display: none"/>
                            <button id="b1" onclick="btnClick()" type="button" class="btn btn-secondary btn-lg">+
                            </button>
                            <input id="input-image-3" name="input-image" type="file"
                                   class="btn btn-secondary btn-lg"
                                   onchange="readURL(this) ;" accept="application/pdf"
                                   style="display: none">


                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button id="submitresume" type="submit" class="btn btn-success" style="margin-left: 2%;"
                                disabled>Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="top-bar">
        {#        <button type="button" class="btn btn-apply btn-lg">Apply Now</button>#}
    </div>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                {#                <a href="/company"><img class="rounded-circle" src="/static/img/agoda.png" alt="Company logo"#}
                {#                                        width="100" height="100"></a>#}
                <h1 class="name">{{ job[6] }}</h1>
                {#                <h3 class="tagline"><a href="/company">View company profile >></a></h3>#}
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i>
                        &nbsp;&nbsp;{{ job[7] }}</li>
                    <li class="phone"><i class="fa fa-phone"></i> &nbsp;&nbsp;{{ job[8] }}</li>
                </ul>
            </div><!--//contact-container-->
            <div class="apply" align="left">
                {% if login %}
                    {#                {% if user_id == job[0] %}#}
                    {#                <button type="button" class="btn btn-warning btn-lg">Cancel Application</button>#}
                    {% if user_id == job[9] %}
                        <a href="{{ url_for('deletejob', jobID = job[0]) }}">
                            <button type="button" class="btn btn-danger btn-lg">Delete Job</button>
                        </a>
                        <p></p>

                    {% else %}
                        {% if apply == 0 %}
                            <a href="#">
                                <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                                        data-target="#resumesubmit">Apply Now
                                </button>
                            </a>
                        {% else %}
                            <a href="{{ url_for('cancelapplication', jobID = job[0]) }}">
                                <button type="button" class="btn btn-warning btn-lg">Cancel Application</button>
                            </a>
                        {% endif %}
                        <p></p>


                    {% endif %}
                {% endif %}
                {#                <p class="applytag">Your resume will be sent to the recruiter right away!</p>#}
            </div>
        </div><!--//sidebar-wrapper-->
        <div class="main-wrapper">

            <h2 class="section-title">{{ job[1] }}</h2>
            <p>Open for application until {{ job[4].strftime('%b %d, %Y') }}</p>
            <br>
            <p>{{ job[2] }}</p>
            <br>
            <embed class="job-description" src="/static/job/{{ job[0] }}/{{ job[11] }}">
                {#            <embed class="job-description" src= "/static/job/job-example2.jpg">#}
                {% if user_id == job[9] %}
                    <section class="section applicant-section">
                        <h2 class="section-title">Applicants ({{ applicant|length }})</h2>
                        {% for app in applicant %}
                            <div class="modal fade" id="resume{{ app[3] }}" tabindex="-1" role="dialog"
                                 aria-labelledby="edit"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <embed class="job-description" src="/static/resume/{{ job[0] }}/{{ app[0] }}">
                                    </div>
                                </div>
                            </div>
                            <div class="summary">
                                <p>
                                    <button class="btn btn-primary" data-toggle="modal"
                                            data-target="#resume{{ app[3] }}">RESUME
                                    </button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ app[1] }} {{ app[2] }}
                                </p>
                            </div><!--//summary-->
                        {% endfor %}
                    </section><!--//section-->
                {% endif %}
        </div><!--//main-body-->
    </div>
    <script>
        function btnClick() {
            $("#input-image-3").trigger('click');
            document.getElementById('submitresume').disabled = false;
        }


    </script>
{% endblock %}