{% extends "base.html" %}
{% block title %}Jobs - {% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    <style>
        .row {
            margin-left: 1%;
        }

        .jumbotron {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/job.jpg');
            background-repeat: no-repeat;
            background-size: 100% Auto;
            color: white;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: white;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            color: white;
        }

        .filter {
            color: #999999;
        }

        .company-img {
            float: left;
            margin-right: 5px;
        }

        .job-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .job-name a {
            color: black;
        }

        .job-name a:hover {
            color: #377bb5;
            text-decoration: none;
        }

        .company-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000;
            padding-bottom: 1px;
        }

        .company-name a:hover {
            color: #377bb5;
            text-decoration: none;
        }

        .job-info {
            height: 80px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .job-item-footer {
            color: darkgray;
            position: relative;
            margin-bottom: 50px;
        }

        .job-cat {
            float: left;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .job-date {
            float: right;
            text-align: right;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .search-container {
            float: left;
            margin-top: 16px;
            color: black;
        }

        .search-container input[type=text] {
            background-color: transparent;
            border: 2px solid;;
            border-right: none;
            border-color: white;
            border-radius: 50px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            padding: 6px 12px;
            margin-top: 8px;
            font-size: 17px;
            color: white;
        }

        .search-container input::-moz-placeholder {
            color: white;
        }

        .search-container input::-webkit-input-placeholder {
            color: white;
        }

        .search-container input:-ms-input-placeholder {
            color: white;
        }

        .search-container button {
            float: right;
            padding: 6px 12px;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid;;
            border-left: none;
            border-color: white;
            border-radius: 50px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            color: white;

        }

        .search-container button:hover {
            color: #ddd;
        }

        .search-container .btn-outline {
            background-color: transparent;
            border: 2px solid;;
            border-color: #b6ecff;
            border-radius: 50px;
            padding: 6px 12px;
            margin-top: 8px;
            font-size: 17px;
            color: #b6ecff;
        }

        .search-container .btn-outline:hover {
            background-color: transparent;
            border: 2px solid;;
            border-color: #9bd0ff;
            border-radius: 50px;
            padding: 6px 12px;
            margin-top: 8px;
            font-size: 17px;
            color: #9bd0ff;
        }

        .company-search {
            border: 1px solid;
            border-radius: 4px;
            border-color: #ccc;
            padding: 6px 12px;
            color: black;
        }

        @font-face {
            font-family: "Nunito-Regular";
            src: url("static/fonts/Nunito-Regular.ttf");
        }

        a {
            color: white;
        }

        @media screen and (max-width: 767px) {
            .jumbotron {
                background: #1e5cab;
                background-size: Auto 100%;
            }
        }

    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Kickstart on Your Career</h1>
            <p>Our filtering system can help you find the right job for you.</p>
            <div class="search-container">
                <form method="POST" class="form-inline" enctype=multipart/form-data action="{{ url_for("filter_job_by_position") }}">
                    <div class="form-group">
                        {% if not job_position %}
                        <input type="text" placeholder="SEARCH JOBS" name="search_job_position">
                        {% else %}
                        <input type="text" placeholder="SEARCH JOBS" value="{{ job_position }}" name="search_job_position">
                        {% endif %}
                        <button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                    {% if login %}
                        <div class="form-group">
                            <a type="button" class="btn btn-outline" id="postjob"
                               href="{{ url_for('registernewjob') }}">POST A JOB
                            </a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="filter" align="center">
            <form method="POST" class="form-inline" enctype=multipart/form-data action="{{ url_for("filter_job") }}">
                <div class="form-group">
                    <select class="selectpicker" title="All work" name="work">
                        {% for jobList in jobCatList %}
                            {% if jobList[1] == work %}
                            <option value="{{ jobList[0] }}" selected>{{ jobList[1] }}</option>
                            {% else %}
                            <option value="{{ jobList[0] }}">{{ jobList[1] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <label>From</label>
                <div class="form-group">
                    {% if not company %}
                    <input type="text" class="company-search" id="company-name-search" placeholder="All company" name="company"
                           size="26.5">
                    {% else %}
                    <input type="text" class="company-search" id="company-name-search" value="{{ company }}" placeholder="All company" name="company"
                           size="26.5">
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-secondary">Filter</button>
            </form>
        </div>
        <br>
        <!-- Example row of columns -->
    {% if jobList %}
        <div class="row">
            {% for job in jobList %}
                <div class="col-md-4">
                    <div class="job-item-header">
                        <div class="job-link">
                            <h4 class="job-name"><a href="/job/{{ job[0] }}">{{ job[1] }}</a></h4>
                            <h6 class="company-name">{{ job[6] }}</h6>
                        </div>
                    </div>
                    <p class="job-info">{{ job[2] }}</p>
                    <div class="job-item-footer">
                        <div class="job-cat">
                            {{ job[14] }}
                        </div>
                        <div class="job-date">
                            <span class="glyphicon glyphicon-calendar"></span> {{ job[4].strftime('%b %d, %Y') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <nav class="navPage" style="text-align: center">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('job', page = page - 1, work = work ,company = company) }}">Previous</a>
                    </li>
                {% endif %}
                {% if numofPage < 10 %}
                    {% for pages in range(1,numofPage + 1) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('job', page = pages, work = work, company = company) }}">{{ pages }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if page <5 %}
                        {% for pages in range(1,10) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('job', page = pages, work = work, company = company) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for pages in range(page - 5,page + 5,1) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('job', page = pages, work = work, company = company) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if page < numofPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('job', page = page + 1, work = work, company = company) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div> <!-- /container -->
{% endblock %}