{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <style>


        .jumbotron {
        {#        background-image: url("/static/img/job.jpg");#} background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/tutor.jpg');
            color: white;
        }

        .col-sm-4 {
            margin-bottom: 5px;
        }

        .col-md-10 {
            margin-left: 10%;
        }

        #activitiesimgcontainer {
            margin-left: 15px;
        }

        .text-block {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: black;
            color: white;
        {#opacity: 1;#}
        }

        .btn-secondary {
            background-color: #6c757d;
            color: white;
            position: absolute;
            bottom: 0;

        }

        .btn-secondary:hover {
            background-color: #5a6268;
            color: white;
        }

        .search-container {
            float: left;
            margin-top: 16px;
            color: black;
        }

        .top-bar {
            text-align: center;
            width: 100%;
            background-color: #347aa9;
            padding: 30px;
            padding-top: 70px;
            padding-bottom: 70px;
            color: #fff;
        }

        .top-header {
            font-weight: 500;
            font-size: 32px;
            color: #fff;
            background-color: transparent;

        }

        .top-header:hover {
            color: #fff;
            background-color: transparent;
            text-decoration: none;
        }

        .btn-outline {
            margin-right: 10px;
            background-color: transparent;
            border: 2px solid;;
            border-color: #347aa9;
            border-radius: 4px;
            padding: 6px 12px;
            color: #347aa9;
        }

        .btn-outline:hover {
            opacity: 0.8;
        }

        .search-container input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

        .search-container button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }

        .search-container button:hover {
            background: #ccc;
        }

        .col-sm-2 {
            width: 170px;
        }

        .facultytext {
            position: inherit;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            font-family: "Helvetica Neue";
            color: white;
            white-space: nowrap;
        }

        .facultytext span {
            color: white;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .facultytext:hover span {
            color: black;
            letter-spacing: -1px;
            background: rgb(0, 0, 0);
            background: rgba(255, 204, 0, 1);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        #firstcol {
            margin-right: 240px;
        }

        .activitiestext {
            position: absolute;
            top: 50%;
            left: 42%;
            font-size: 2.5em;
            font-family: "Helvetica Neue";
        {#opacity: 0.5;#} color: white;
            white-space: nowrap;
        }

        .activitiestext span {
            color: white;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .activitiestext:hover span {
            color: black;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(255, 204, 0, 1);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .btnn {
            background-color: cornflowerblue;
            color: #ffffff;
            border: none;
            width: 40%
        }

{#        h1 {#}
{#            font-size: 20px;#}
{#            font-family: Helvetica Neue;#}
{#        }#}

        .btn.btn-secondary.dropdown-toggle {
            border-radius: 0;

        }

        .container {
            padding-top: 0px;
        }

        #finalbutton {

        }

        .form-control {
            border-color: #ccc;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        }

    </style>
{% endblock %}
{% block content %}

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


    <script>

        function myFunction() {

            var x = document.getElementById('b2');
            var y = document.getElementById('img1');
            var z = document.getElementById('b1');

            if (x.style.display == 'none') {
                x.style.display = 'block';
                y.style.display = 'block';
                z.style.display = 'none';


            } else {
                x.style.display = 'none';

            }

        }
        function myFunction1() {
            var x = document.getElementById('b3');
            var y = document.getElementById('img2');
            var z = document.getElementById('b2');

            if (x.style.display == 'none') {
                x.style.display = 'block';
                y.style.display = 'block';
                z.style.display = 'none';


            } else {
                x.style.display = 'none';

            }

        }
        function myFunction2() {
            var x = document.getElementById('b4');
            var y = document.getElementById('img3');
            var z = document.getElementById('b3');

            if (x.style.display == 'none') {
                x.style.display = 'block';
                y.style.display = 'block';
                z.style.display = 'none';


            } else {
                x.style.display = 'none';

            }

        }
        function myFunction3() {
            var x = document.getElementById('b5');
            var y = document.getElementById('img4');
            var z = document.getElementById('b4');

            if (x.style.display == 'none') {
                x.style.display = 'block';
                y.style.display = 'block';
                z.style.display = 'none';


            } else {
                x.style.display = 'none';

            }

        }
        function myFunction4() {
            var x = document.getElementById('b6');
            var y = document.getElementById('img5');
            var z = document.getElementById('b5');

            if (x.style.display == 'none') {
                x.style.display = 'block';
                y.style.display = 'block';
                z.style.display = 'none';


            } else {
                x.style.display = 'none';

            }

        }
        function myFunction5() {
            var y = document.getElementById('img6');
            var z = document.getElementById('b6');

            if (z.onclick) {

                y.style.display = 'block';
                z.style.display = 'none';


            } else {
                z.style.display = 'block';

            }

        }

    </script>

    {#    <div class="jumbotron">#}
    {#        <div class="container">#}
    {#            <h1 class="display-3">Post a discussion</h1>#}
    {#            <p>Let's Communicate and share.</p>#}
    {##}
    {#        </div>#}
    {#    </div>#}
    <div class="top-bar" style="background-color: {{ currentCatDetail[3] }}">
        <div class="top-title">
            <i class="far fa-comments" style="font-size: 35px;"></i><br>
            <a type="button" id="catBtn" class="top-header">New Discussion</a>
        </div>
    </div>
    <br>
    <div class="container wrap">
        <!-- Content here -->
        <form method="POST" enctype=multipart/form-data onsubmit="return checkallpost()"
              action="{{ url_for("createnewpost", category = currentCat) }}">
            <div class="row">
                <div class="col-md-6">
                    <label for="discussion">Enter topic</label>
                    <form>
                        <input type="text" class="form-control" id="discussion" placeholder="" name="topic_name">
                        <div id="posstatus">
                            &nbsp;
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <label for="categorychooser">Choose category (can be multiple)</label>
                    <div class="dropdown">
                        <select class="selectpicker" multiple name="category_name"
                                id="categorychooser">
                            {% for category in cat %}
                                {% if currentCat == category[1] %}
                                    <option value="{{ category[0] }}" selected>{{ category[1] }}</option>
                                {% else %}
                                    <option value="{{ category[0] }}">{{ category[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div id="categorystatus">
                            &nbsp;
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="detail">Enter discussion content</label>
                    <textarea class="form-control" rows="5" id="detail" name="content"></textarea>
                    <input type="hidden" name="status" value="SELL">
                    <div id="detailstatus" style="display: block; float: left; padding-top: 1px; color: red">
                        &nbsp;
                    </div>
                    <br>
                    <br>
                    <input id="finalbutton" type="submit" class="btn btn-outline" value="CREATE A DISCUSSION"
                           style="margin-bottom: 40px; float: left; display: block; border-color: {{ currentCatDetail[3] }}; color: {{ currentCatDetail[3] }};">
                </div>
            </div>
        </form>

    </div>

    <script src="/static/js/registration.js"></script>
    <script src="/static/js/verificationNewPost.js"></script>
    <script>
        $('select[name=selValue]').val(1);
        $('.selectpicker').selectpicker('refresh');
    </script>
    </body>


{% endblock %}