{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
          <style>


        .jumbotron {
{#        background-image: url("/static/img/job.jpg");#}
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/static/img/tutor.jpg');
        color: white;
    }
        .col-sm-4{
          margin-bottom: 5px;
        }

        .col-md-10{
            margin-left: 10%;
        }

        #activitiesimgcontainer{
          margin-left: 15px;
        }

        .text-block {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: black;
            color: white;
            {#opacity: 1;#}
        }

            .btn-secondary{
        background-color: #6c757d;
        color: white;
        position: absolute;
        bottom: 0;

    }
    .btn-secondary:hover{
        background-color: #5a6268;
        color: white;
    }
    .search-container {
        float: left;
        margin-top: 16px;
        color: black;
    }
    .search-container input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}


        .col-sm-2{
            width: 170px;
        }

        .facultytext {
            position: inherit;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            font-family: "Helvetica Neue";
            color: white;
            white-space:nowrap;
        }


        .facultytext span{
           color: white;
           letter-spacing: -1px;
           background: rgb(0,0,0); /* fallback color */
           background: rgba(0,0,0, 0.7);
           padding: 10px;
            opacity: 1;
            border-radius: 25px;
             -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .facultytext:hover span{
           color: black;
           letter-spacing: -1px;
           background: rgb(0,0,0);
           background: rgba(255, 204, 0, 1);
           padding: 10px;
            opacity: 1;
            border-radius: 25px;
             -webkit-transition: .3s linear;
            transition: .3s linear;

        }


        #firstcol{
          margin-right:  240px;
        }

        .activitiestext {
            position: absolute;
            top: 50%;
            left: 42%;
            font-size: 2.5em;
            font-family: "Helvetica Neue";
            {#opacity: 0.5;#}
            color: white;
            white-space:nowrap;
        }


        .activitiestext span{
           color: white;
           letter-spacing: -1px;
           background: rgb(0,0,0); /* fallback color */
           background: rgba(0,0,0, 0.7);
           padding: 10px;
            opacity: 1;
            border-radius: 25px;
             -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .activitiestext:hover span{
           color: black;
           letter-spacing: -1px;
           background: rgb(0,0,0); /* fallback color */
           background: rgba(255, 204, 0, 1);
           padding: 10px;
            opacity: 1;
            border-radius: 25px;
             -webkit-transition: .3s linear;
            transition: .3s linear;

        }


        .btnn {
            background-color: cornflowerblue;
            color: #ffffff;
            border: none;
            width: 40%
        }


        h1 {
            font-size: 20px;
            font-family: Helvetica Neue;
        }




        .btn.btn-secondary.dropdown-toggle {
            border-radius: 0;

        }

          .container{
              padding-top: 0px;
          }

          #finalbutton{

          }

      </style>
{% endblock %}
{% block content %}

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Post a discussion</h1>
          <p>Let's Communicate and share.</p>

        </div>
      </div>
<div class="container wrap">
    <!-- Content here -->
    <form method="POST" enctype=multipart/form-data  id="submitTutor" onsubmit="return checkallpost()">
        {#         add form here#}
        <div class="row">
            <div class="col-md-6">

{#                <br>#}
{#                <h2>Post a discussion</h2>#}
{#                <br>#}
                <p>Upload Images(Maximum of 6 images)</p>
                <br>
                <img id="img0" src="#" alt="" style="display: none"/>
                <img id="img1" src="#" alt="" style="display: none"/>
                <img id="img2" src="#" alt="" style="display: none"/>
                <img id="img3" src="#" alt="" style="display: none"/>
                <img id="img4" src="#" alt="" style="display: none"/>
                <img id="img5" src="#" alt="" style="display: none"/>
                <button id="b1" onclick="btnClick()" type="button" class="btn btn-secondary btn-lg">+</button>
                <input id="input-image-3" name="input-image" type="file" class="btn btn-secondary btn-lg" onchange="readURL(this) ;" accept="image/*"
                       multiple style="display: none">
                <br>


            </div>
            <div class="col-md-6">

                <label for="bio">Enter your Bio</label>
                <textarea form="submitTutor" class="form-control" rows="5" id="bio" name="bio" placeholder="Write something about yourself..."></textarea>
                <div id="posstatus">

                </div>
                <br>

                <label for="coursecategory">Choose your open course category</label>
{#                <div class="dropdown">#}
{##}
{#                    <select name ='category'  class="selectpicker" id ="category" multiple title="Choose course category">#}
{#                            <option value="selected" selected>Category : </option>#}
{#                        >#}
{#                        <option value="Language">Language</option>#}
{#                        <option value="Science">Science</option>#}
{#                        <option value="Math">Math</option>#}
{#                        <option value="Architect">Architect</option>#}
{#                        <option value="Psychology">Psychology</option>#}
{#                        <option value="Business">Business</option>#}
{#                        <option value="Finance">Finance</option>#}
{#                        <option value="Others">Others</option>#}
{#                        </select>#}
{#                </div>#}


		<label>Multiple fields contact form</label>
            <div class="course">
                <label>Open Courses:</label>
                    <div class="form-group multiple-form-group input-group" >
                        <div class="input-group-btn input-group-select" >
                     <select class="selectpicker" title="Choose a category" name="category_name" id="coursecategory">
                        {% for category in cat %}
                        <option value="{{ category[0] }}">{{ category[1] }}</option>
                        {% endfor %}
                    </select>
                            <input type="hidden" class="input-group-select-val" >
                        </div>
                        <input type="text" name="contacts['value'][]" class="form-control" id="othercourse">
                        <span class="input-group-btn" >
                            <button type="button" class="btn btn-success btn-add">+</button>
                        </span>
                    </div>
                </div>


                <div id="categorystatus">
                </div>
                <div id="othersstatus">
                </div>

                <br>
                <label for="post">Enter your youtube video self-introduction</label>
                <textarea class="form-control" rows="5" id="detail" name="info"></textarea>
                <input type="hidden" name="status">

                <div id="detailstatus">
                </div>

                <br>
                <label for="post">Enter your teaching price</label>
                <input type="number" class="form-control" id="post1" placeholder="xxxx Baht" name="price" min="0">

                <div id="post1status">
                </div>


                <br>
                <input id="finalbutton" type="submit" class="btn btn-primary" value="Create a discussion"></input>
            </div>
        </div>
    </form>

</div>

<script src="/static/js/registration.js"></script>
<script type="text/javascript">
               $(document).ready(function() {
               $('.selectpicker').selectpicker();
              });
</script>
<script src="/static/js/verificationNewTutor.js"></script>
    </body>


{% endblock %}