{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <style>

        .jumbotron .container{
            max-width: 100%;
        }

        .jumbotron {
        {#        background-image: url("/static/img/job.jpg");#} background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/tutor5.jpg');
            color: white;
            background-size: 100% Auto;
            background-repeat: no-repeat;
        }

        .col-sm-4 {
            margin-bottom: 5px;
        }

        .col-md-10 {
            margin-left: 10%;
        }

        #activitiesimgcontainer {
            margin-left: 15px;
        }

        .text-block {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: black;
            color: white;
        {#opacity: 1;#}
        }

        .btn-secondary {
            background-color: #6c757d;
            color: white;
            position: absolute;
            bottom: 0;

        }

        .btn-secondary:hover {
            background-color: #5a6268;
            color: white;
        }

        .search-container {
            float: left;
            margin-top: 16px;
            color: black;
        }

        .search-container input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

        .search-container button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }

        .search-container button:hover {
            background: #ccc;
        }

        .col-sm-2 {
            width: 170px;
        }

        .facultytext {
            position: inherit;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            font-family: "Helvetica Neue";
            color: white;
            white-space: nowrap;
        }

        .facultytext span {
            color: white;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .facultytext:hover span {
            color: black;
            letter-spacing: -1px;
            background: rgb(0, 0, 0);
            background: rgba(255, 204, 0, 1);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        #firstcol {
            margin-right: 240px;
        }

        .activitiestext {
            position: absolute;
            top: 50%;
            left: 42%;
            font-size: 2.5em;
            font-family: "Helvetica Neue";
        {#opacity: 0.5;#} color: white;
            white-space: nowrap;
        }

        .activitiestext span {
            color: white;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .activitiestext:hover span {
            color: black;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(255, 204, 0, 1);
            padding: 10px;
            opacity: 1;
            border-radius: 25px;
            -webkit-transition: .3s linear;
            transition: .3s linear;

        }

        .btnn {
            background-color: cornflowerblue;
            color: #ffffff;
            border: none;
            width: 40%
        }

        h1 {
            font-size: 20px;
            font-family: Helvetica Neue;
        }

        .btn.btn-secondary.dropdown-toggle {
            border-radius: 0;

        }

        .container {
            padding-top: 0px;
        }

        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100px;
        }

        #phonenumberstatus {
            color: red;
        }

    </style>
{% endblock %}
{% block content %}

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <div class="jumbotron">
        <div class="container" align="center">
            <br>
            <br>
            <br>
            <h1 class="display-3">Become a Tutor!</h1>
            <p>Share your knowledges to others and make the world a better place!</p>
            <br>

            <br>
            <br>
            <br>


        </div>
    </div>
    <div class="container wrap">
        <!-- Content here -->
        <form method="POST" enctype=multipart/form-data id="submitTutor" onsubmit="return checkallpost()"
              action="{{ url_for("create_tutor") }}">
            {#         add form here#}
            <div class="row">
                <div class="col-md-12">
                    <label for="info">Enter your Information</label>
                    <textarea form="submitTutor" class="form-control" rows="5" id="info" name="info"
                              placeholder="Write something about yourself, your achievement, skills, or promotion..."></textarea>
                    <div id="posstatus" style="color: red">
                    </div>
                    <br>
                    <label for="coursecategory">Field in the course that you want to teach</label>
                    <div class="course">
                        <div class="form-group multiple-form-group input-group course " required/>
                        <div class="input-group-btn input-group-select " required/>
                        <select class="form-control coursecat" type="button" data-toggle="dropdown" title="Category"
                                name="coursecat" style="width:20%" id="coursecat" required/>
                        <option value="" selected disabled>Please select</option>

                        {% for subject in sub %}
                            <option value="{{ subject[0] }}" id="coursecat">{{ subject[1] }}</option>
                        {% endfor %}
                        </select>
                        <input type="text" name="course" class="form-control course" id="course" style="width: 60%;"
                               placeholder="Course" required/>
                        <input type="number" name="courseprice" class="form-control courseprice" min="0"
                               id="courseprice" style="width:20%;" placeholder="Price/hr" required/>
                    </div>
                </div>
            </div>
            <a class="addcourse" href="#">Add further course</a>
            <div id="categorystatus">
            </div>
            <div id="othersstatus">
            </div>
            <div id="pricestatus">
            </div>
            <br>
            <label for="post">Enter your youtube video self-introduction</label>
            <input type="text" class="form-control" id="detail" name="link">
            <div id="detailstatus">
            </div>
            <div id="youtubelinkinformation" style="color: #FF9900"> Please copy the embed link by clicking button under the youtube video Share > Embed > Copy just the attribute in the src="" into this form.
            </div>

            <br>
            <label for="post">Enter your Facebook</label>
            <input type="text" class="form-control" id="facebook" name="facebook" placeholder="This field is optional">
            <div id="facebookstatus">
            </div>


            <br>
            <label for="post">Enter your LINE ID</label>
            <input type="text" class="form-control" id="line" name="line" placeholder="This field is optional">
            <div id="linestatus">
            </div>

            <br>
            <label for="post">Enter your Phonenumber</label><br><span style="color:#FF9900">Please enter in the format of ex: 0812345678 with no "-" in between</span>
            <input type="tel" class="form-control" id="phonenumber" name="phonenumber">
            <div id="phonenumberstatus">
            </div>

            <input type="hidden" name="status">

            <br>
            <br>
            <input id="finalbutton" type="submit" class="btn btn-primary" value="Create your tutor profile">
            <input type="hidden" name="hiddenvalue" value="1" id="hiddenvalue">
        </form>
    </div>


    <script src="/static/js/verificationNewTutor.js"></script>
    <script src="/static/js/registration.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>

    </body>


{% endblock %}