{% extends "base.html" %}
{% block title %}Discussion -  {% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="theme-style" rel="stylesheet" href="/static/css/post/styles.css">

{% endblock %}
{% block content %}
    {#    Put body code here #}
    <div class="top-bar">
    </div>
    <div class="wrapper">
        <div class="top-main-wrapper">
            <h2 class="section-title">{{ topic[0] }}</h2>
            <br>
            <p>{{ topic[1] }}</p>
            <hr>
            <div class="poster-wrapper">
                <div class="vote">
                    <div><a href="#" class="up"><span class="glyphicon glyphicon-thumbs-up"></span> </a></div>
                    <div> 221</div>
                    <div><a href="#" class="down"><span class="glyphicon glyphicon-thumbs-down"></span> </a></div>
                </div>
                <a href="#"> {# url to user page #}
                    <div class="poster-profile-img">
                        <img class="rounded-circle"
                             src="/static/img/{{ topic[7] }}"
                             alt="Generic placeholder image" width="45" height="45">
                    </div>
                    <div class="poster-info">
                        <h5>{{ topic[4] }} {{ topic[5] }}</h5>
                        <h6>Posted on {{ topic[2].strftime('%H:%M %d-%m-%Y') }}</h6>
                    </div>
                </a>
            </div>
        </div><!--//main-body-->
    </div>

    <div class="wrapper">
    {% if comList%}
        {% for comment in comList %}
        <div class="main-wrapper">
            <div class="vote">
                <div><a href="#" class="up"><span class="glyphicon glyphicon-thumbs-up"></span> </a></div>
                <div> 221</div>
                <div><a href="#" class="down"><span class="glyphicon glyphicon-thumbs-down"></span> </a></div>
            </div>
            <a href="#"> {# url to user #}
                <div class="profile-img">
                    <img class="rounded-circle"
                         src="{{ comment[6] }}"
                         alt="Generic placeholder image" width="45" height="45">
                    <br>
                </div>
            </a>
            <div class="content">
                <p class="section-title"> {{comment[0]}}</p>
                <h6 class="section-title">Posted on {{ comment[1].strftime('%H:%M %d-%m-%Y') }} by {{ comment[4] }} {{ comment[5] }}</h6>
            </div>
            <hr>
        </div>
    {% endfor %}
    {% endif %}
    </div>
    <div class="wrapper">
        <div class="main-wrapper">
            <div class="profile-img">
                <img class="rounded-circle"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Generic placeholder image" width="45" height="45">
            </div>
            <div class="content">
                <div class="form-inline">
                    {#                <label for="comment">Comment:</label>#}
                    {#                <textarea class="form-control" style="min-width: 100%" rows="5" id="comment" placeholder="Add Comment..."></textarea>#}
                    <textarea id="froala-editor"></textarea>
                    <br>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    {#    <nav class="navPage">#}
    {#        <ul class="pagination">#}
    {#            <li class="page-item">#}
    {#                <a class="page-link" href="#">Previous</a>#}
    {#            </li>#}
    {#            {% for page in range(numofPage) %}#}
    {#            <li class="page-item">#}
    {#                <a class="page-link" href="{{ url_for('discussion',category = cat, page = loop.index) }}">{{ loop.index }}</a>#}
    {#            </li>#}
    {#            {% endfor %}#}
    {#            <li class="page-item">#}
    {#                <a class="page-link" href="#">Next</a>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </nav>#}
    <script>
        $(function () {
            $('textarea#froala-editor').froalaEditor({
                height: 200
            })
        });
    </script>
{% endblock %}