{% extends "base.html" %}
{% block title %}Discussion - {% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="theme-style" rel="stylesheet" href="/static/css/post/styles2.css">
{% endblock %}
{% block content %}
    <div class="top-bar" style="background-color: {{ catDetail[3] }}">
        <div class="top-title">
            <i class="{{ catDetail[2] }}" style="font-size: 35px;"></i><br>
            <a type="button" id="catBtn" class="dropdown">{{ cat }} <span
                    style="position: absolute; padding-left: 5px;"><i class="fas fa-caret-down" id="catBtn"></i></span></a>
            <div id="myDropdown" class="dropdown-content" align="center">
                {% for categoryList in catList %}
                    <a href="{{ url_for('discussion', category = categoryList, page = 1) }}">{{ categoryList }}</a>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="container-body">

        <div class="wrapper">
            <div class="main-wrapper">
                <h2 class="section-title">{{ topic[0] }}</h2>
                <hr>
                <div class="post">
                    <div class="profile2">
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = topic[6]) }}">{# url to user page #}
                                <img class="rounded-circle"
                                     src="/static/img/user/{{ topic[6] }}/{{ topic[7] }}"
                                     alt="Generic placeholder image" width="45" height="45">
                            </a>
                        </div>
                    {% if topic[9] %}
                        {% if login %}
                            {% if checkTopic == 0 %}
                        <div class="vote">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTopic == 1 %}
                        <div class="vote-up">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id = topic[8],poster_id = topic[6], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 0) }}" class="up"><span class="fas fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTopic == -1 %}
                        <div class="vote-down">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 0) }}" class="down"><span class="fas fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                                {% endif %}
                        {% else%}
                    <div class="vote">
                            <a href="" id="myBtn" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="" id="myBtn" class="up"><span class="far fa-thumbs-up"></span></a>
                    </div>
                    {% endif %}
                    {% else %}
                    {% if login %}
                            {% if checkTopic == 0 %}
                        <div class="vote">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            0
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTopic == 1 %}
                        <div class="vote-up">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id = topic[8],poster_id = topic[6], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            0
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 0) }}" class="up"><span class="fas fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTopic == -1 %}
                        <div class="vote-down">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 0) }}" class="down"><span class="fas fa-thumbs-down"></span></a>
                            0
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                                {% endif %}
                        {% else%}
                    <div class="vote">
                            <a href="" id="myBtn" class="down"><span class="far fa-thumbs-down"></span></a>
                            0
                            <a href="" id="myBtn" class="up"><span class="far fa-thumbs-up"></span></a>
                    </div>
                    {% endif %}
                    {% endif %}
                    </div>
                    <div class="profile-hover">
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = topic[6]) }}">
                                <h5 style="font-weight: 500">{{ topic[4] }} {{ topic[5] }}</h5>
                            </a>
                            <h6 style="font-size: 11px">Posted on {{ topic[2].strftime('%H:%M %d-%m-%Y') }}</h6>
                        </div>
                    </div>
                    <div class="content">{{ topic[1]|safe }}</div>
                    <div class="profile">
                        {% if login %}
                            {% if checkTopic == 0 %}
                        <div class="vote">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTopic == 1 %}
                        <div class="vote-up">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id = topic[8],poster_id = topic[6], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 0) }}" class="up"><span class="fas fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTopic == -1 %}
                        <div class="vote-down">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 0) }}" class="down"><span class="fas fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= topic[8],poster_id = topic[6], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                                {% endif %}
                        {% else%}
                    <div class="vote">
                            <a href="" id="myBtn" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ topic[9] }}
                            <a href="" id="myBtn" class="up"><span class="far fa-thumbs-up"></span></a>
                    </div>
                    {% endif %}
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = topic[6]) }}">
                                <img class="rounded-circle"
                                     src="/static/img/user/{{ topic[6] }}/{{ topic[7] }}"
                                     alt="Generic placeholder image" width="45" height="45">
                            </a>
                        </div>
                        <div class="poster-info">
                            <a href="{{ url_for('userprofile',user_id = topic[6]) }}">
                                <h5>{{ topic[4] }} {{ topic[5] }}</h5>
                            </a>
                            <h6>Posted on {{ topic[2].strftime('%H:%M %d-%m-%Y') }}</h6>
                        </div>

                    </div>
                </div>
            {% if totalcomment >1 %}
                {% if top %}
                <div class="top-reply">
                    <h1>Top Reply</h1>
                </div>
                <hr>
            </div>

            {#            comment#}
            <div class="comment-wrapper">
                <div class="post">
                    <div class="profile2">
                        <div class="profile-img top-profile-img">
                            <a href="{{ url_for('userprofile',user_id = top[3]) }}">{# url to user page #}
                                <img class="rounded-circle"
                                     src="/static/img/user/{{top[3]}}/{{top[10] }}"
                                     alt="Generic placeholder image" width="45" height="45">
                            </a>
                        </div>
                        {% if login %}
                            {% if checkTop == 0 %}
                        <div class="vote">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTop == 1 %}
                        <div class="vote-up">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id = top[0],poster_id = top[3], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 0) }}" class="up"><span class="fas fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTop == -1 %}
                        <div class="vote-down">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 0) }}" class="down"><span class="fas fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                                {% endif %}
                        {% else%}
                    <div class="vote">
                            <a href="" id="myBtn" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="" id="myBtn" class="up"><span class="far fa-thumbs-up"></span></a>
                    </div>
                    {% endif %}
                    </div>
                    <div class="profile-hover top-profile-hover">
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = top[3]) }}">
                                <h5 style="font-weight: 500">{{ top[5] }} {{ top[6] }}</h5>
                            </a>
                            <h6 style="font-size: 11px">Posted on {{ top[2].strftime('%H:%M %d-%m-%Y') }}</h6>
                        </div>
                    </div>
                    <div class="content">{{ top[1]|safe }}</div>
                    <div class="profile">
                        {% if login %}
                            {% if checkTop == 0 %}
                        <div class="vote">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTop == 1 %}
                        <div class="vote-up">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id = top[0],poster_id = top[3], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 0) }}" class="up"><span class="fas fa-thumbs-up"></span></a>
                            </div>
                            {% elif checkTop == -1 %}
                        <div class="vote-down">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 0) }}" class="down"><span class="fas fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= top[0],poster_id = top[3], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                            </div>
                                {% endif %}
                        {% else%}
                    <div class="vote">
                            <a href="" id="myBtn" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{ top[11] }}
                            <a href="" id="myBtn" class="up"><span class="far fa-thumbs-up"></span></a>
                    </div>
                    {% endif %}
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = top[3]) }}">
                                <img class="rounded-circle"
                                     src="/static/img/user/{{top[3]}}/{{top[10] }}"
                                     alt="Generic placeholder image" width="45" height="45">
                            </a>
                        </div>
                        <div class="poster-info">
                            <a href="{{ url_for('userprofile',user_id = top[3]) }}">
                                <h5>{{ top[5] }} {{ top[6] }}</h5>
                            </a>
                            <h6>Posted on {{ top[2].strftime('%H:%M %d-%m-%Y') }}</h6>
                        </div>

                    </div>
                </div>
            {% endif %}
            {% endif %}
            </div>
                <div class="top-reply">
                    <h1>{{ totalcomment }} Replies</h1>
                </div>
                <hr>


            <div class="comment-wrapper">
                {% if comList %}
                {% for comment in comList %}
                <div class="post">
                    <div class="profile2">
                        <div class="profile-img profile-img{{ loop.index - 1}}">
                            <a href="{{ url_for('userprofile',user_id = comment[7]) }}">{# url to user page #}
                                <img class="rounded-circle"
                                     src="/static/img/user/{{ comment[7] }}/{{ comment[6] }}"
                                     alt="Generic placeholder image" width="45" height="45">
                            </a>
                        </div>
                        {% if login %}
                            {% if check[loop.index - 1] == 0 %}
                        <div class="vote">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                        </div>
                            {% elif check[loop.index - 1] == 1 %}
                        <div class="vote-up">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 0) }}" class="up"><span class="fas fa-thumbs-up"></span></a>
                        </div>
                            {% elif check[loop.index - 1] == -1 %}
                        <div class="vote-down">
                            <a href="{{url_for('voting_down', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 0) }}" class="down"><span class="fas fa-thumbs-down"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                        </div>
                                {% endif %}
                        {% else%}
                     <div class="vote">
                            <a href="" id="myBtn" class="down"><span class="far fa-thumbs-up"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="" id="myBtn" class="up"><span class="far fa-thumbs-down"></span></a>
                    </div>
                    {%endif %}
                    </div>
                    <div class="profile-hover profile-hover{{ loop.index - 1 }}">
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = comment[7]) }}">
                                <h5 style="font-weight: 500">{{ comment[3] }} {{ comment[4] }}</h5>
                            </a>
                            <h6 style="font-size: 11px">Posted on {{ comment[1].strftime('%H:%M %d-%m-%Y') }}</h6>
                        </div>
                    </div>
                    <div class="content">{{ comment[0]|safe }}</div>
                    <div class="profile">
                        {% if login %}
                            {% if check[loop.index - 1] == 0 %}
                        <div class="vote">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                        </div>
                            {% elif check[loop.index - 1] == 1 %}
                        <div class="vote-up">
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = -1) }}" class="down"><span class="far fa-thumbs-down"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 0) }}" class="up"><span class="fas fa-thumbs-up"></span></a>
                        </div>
                            {% elif check[loop.index - 1] == -1 %}
                        <div class="vote-down">
                            <a href="{{url_for('voting_down', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 0) }}" class="down"><span class="fas fa-thumbs-down"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, post_id= comment[8],poster_id = comment[7], voting = 1) }}" class="up"><span class="far fa-thumbs-up"></span></a>
                        </div>
                                {% endif %}
                        {% else%}
                     <div class="vote">
                            <a href="" id="myBtn" class="down"><span class="far fa-thumbs-up"></span></a>
                            {{voteCount[loop.index - 1] }}
                            <a href="" id="myBtn" class="up"><span class="far fa-thumbs-down"></span></a>
                    </div>
                    {%endif %}
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = comment[7]) }}">
                                <img class="rounded-circle"
                                     src="/static/img/user/{{ comment[7] }}/{{ comment[6] }}"
                                     alt="Generic placeholder image" width="45" height="45">
                            </a>
                        </div>
                        <div class="poster-info">
                            <a href="{{ url_for('userprofile',user_id = comment[7]) }}">
                                <h5>{{ comment[3] }} {{ comment[4] }}</h5>
                            </a>
                            <h6>Posted on {{ comment[1].strftime('%H:%M %d-%m-%Y') }}</h6>
                        </div>

                    </div>
                </div>
                    <hr>
                {% endfor %}
            {% endif %}
                {#            Add comment    #}
            {% if login %}
                <div class="post">
                    <div class="profile2">
                        <div class="profile-img">
                            <a href="{{ url_for('userprofile',user_id = user_id) }}">{# url to user page #}
                                {#                                Add User profile#}
                                <img class="rounded-circle"
                                     src="/static/img/user/{{ user_id }}/{{ login_user[5] }}"
                                     alt="Generic placeholder image" width="45" height="45">
                            </a>
                        </div>
                    </div>
                    <form class="content add-comment" method="POST" enctype=multipart/form-data
                          action="{{ url_for('add_comment_into_discussion', category = cat, dis_id = dis_id, user_id = user_id) }}">
                        <textarea class="form-control" rows="5" id="detail" name="content"></textarea>
                        <input type="submit" value="Submit" class="btn btn-outline disabled" id="submitReply">
                        <div id="detailstatus" style="display: inline-block; padding-top: 3px; color: red">
                            &nbsp;
                        </div>
                    </form>
                </div>
            {% endif %}
            </div>
            <hr>
        </div>
    </div>
    </div>
    <nav class="navPage" style="text-align: center">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('discussion_post',category = cat,dis_id = dis_id, page = page - 1) }}">Previous</a>
                    </li>
                {% endif %}
                {% if numofPage < 10 %}
                    {% for pages in range(1,numofPage + 1) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('discussion_post',category = cat, dis_id = dis_id , page = pages  ) }}">{{ pages }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if page <5 %}
                        {% for pages in range(1,10) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('discussion_post',category = cat, dis_id = dis_id , page =pages  ) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for pages in range(page - 5,page + 5,1) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('discussion_post',category = cat, dis_id = dis_id , page =pages  ) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if page < numofPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('discussion_post',category = cat ,dis_id = dis_id , page = page + 1) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <script>
        $(document).ready(function () {
            $(".dropdown").click(function () {
                if ($("#myDropdown").css("display") == "none") {
                    console.log(0);
                    $("#myDropdown").show();
                } else {
                    $("#myDropdown").hide();
                    console.log(1);
                }
                console.log(3);
            });

            $("#catBtn").hover(function () {
                $("#catBtn").css('border-bottom', '4px solid');
                $("#catBtn").css('opacity', '0.9');

            }, function () {
                if ($('#myDropdown').css('display') == 'block') {
                    {#                    $("#catBtn").html('{{ cat }} <i class="fas fa-caret-down" id="dropdown-icon"></i>');#}
                } else {
                    $("#catBtn").css('border-bottom', '0px solid');
                    $("#catBtn").css('opacity', '1.0');

                }
            });
            $(window).click(function () {
                if ($('#myDropdown').css('display') == 'block') {
                    $("#catBtn").css('border-bottom', '4px solid');
                    $("#catBtn").css('opacity', '0.9');
                } else {
                    if ($("#catBtn").is(":hover")) {
                        $("#catBtn").css('border-bottom', '4px solid');
                        $("#catBtn").css('opacity', '0.9');
                    } else {
                        $("#catBtn").css('border-bottom', '0px solid');
                        $("#catBtn").css('opacity', '1.0');
                    }
                }
            });
            $(document).mouseup(function (e) {
                if (!($(".dropdown").is(e.target) || $("#dropIcon").is(e.target))) {
                    $("#myDropdown").hide();
                }

            });
        });
        {% for i in range(comList.__len__()) %}
        $('.profile-img{{ i }}').hover(function () {
            $('.profile-hover{{ i }}').show();
        }, function () {
            $('.profile-hover{{ i }}').hide();
        });
        {% endfor %}
        $('.top-profile-img').hover(function () {
            $('.top-profile-hover').show();
        }, function () {
            $('.top-profile-hover').hide();
        });
        var editor = CKEDITOR.replace('detail', {
            uiColor: '#ffffff'
        });
        editor.on('change', function (evt) {
            // getData() returns CKEditor's HTML content.
            console.log('Total bytes: ' + evt.editor.getData().length);
            if (evt.editor.getData().length > 10000) {
                $("#detailstatus").html('Content is too long');
                $('#submitReply').removeClass('active').addClass('disabled');
            } else if (evt.editor.getData().length == 0) {
                $('#submitReply').removeClass('active').addClass('disabled');
            } else {
                $("#detailstatus").html('&nbsp;');
                $('#submitReply').removeClass('disabled')
            }
        });
    </script>
{% endblock %}