{% extends "base.html" %}
{% block title %}Discussion -  {% endblock %}
{% block head %}
    {{ super() }}
    {#    Put additional head code here #}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="theme-style" rel="stylesheet" href="/static/css/post/styles.css">

{% endblock %}
{% block content %}
    {#    Put body code here #}
    <div class="top-bar">
    </div>
    <div class="wrapper">
        <div class="top-main-wrapper">
            <h2 class="section-title">{{ topic[0] }}</h2>
            <br>
            {{ topic[1]|safe }}
            <hr>
            <div class="poster-wrapper">
                <div class="vote">
                    <div>
                        <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, comment_id= dis_id ,poster_id = topic[6], voting = 1, comment_or_not= 0) }}" class="up">
                        <span class="glyphicon glyphicon-thumbs-up"></span> </a>
                    </div>
                    <div> {{topic[9]}}</div>
                    <div>
                        <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, comment_id= dis_id ,poster_id = topic[6], voting = 1, comment_or_not = 1) }}" class="down">
                        <span class="glyphicon glyphicon-thumbs-down"></span> </a>
                    </div>
                </div>
                <a href="#"> {# url to user page #}
                    <div class="poster-profile-img">
                        <img class="rounded-circle"
                             src="/static/img/{{ topic[7] }}"
                             alt="Generic placeholder image" width="45" height="45">
                    </div>
                    <div class="poster-info">
                        <h5>{{ topic[4] }} {{ topic[5] }}</h5>
                        <h6>Posted on {{ topic[2].strftime('%H:%M %d-%m-%Y') }}</h6>
                    </div>
                </a>
            </div>
        </div><!--//main-body-->
    </div>

    <div class="wrapper">
        {% if comList %}
            {% for comment in comList %}
                <div class="main-wrapper">
                    <div class="vote">
                        {% if login %}
                        <div>
                            <a href="{{ url_for('voting_up', category = cat, dis_id = dis_id, comment_id= comment[8],poster_id = comment[7], voting = 1, comment_or_not = 1) }}" class="up">
                            <span class="glyphicon glyphicon-thumbs-up"></span> </a>
                        </div>
                        {% endif %}
                        <div> {{voteCount[loop.index - 1] }}</div>
                    {% if login %}
                        <div>
                            <a href="{{ url_for('voting_down', category = cat, dis_id = dis_id, comment_id= comment[8],poster_id = comment[7], voting = 1, comment_or_not = 1) }}" class="down">
                            <span class="glyphicon glyphicon-thumbs-down"></span> </a>
                        </div>
                    {% endif %}
                    </div>
                    <a href="#"> {# url to user #}
                        <div class="profile-img">
                            <img class="rounded-circle"
                                 src="/static/img/user/{{ comment[7] }}/{{ comment[6] }}"
                                 alt="Generic placeholder image" width="45" height="45">
                            <br>
                        </div>
                    </a>
                    <div class="content">
                        <p class="section-title"> {{ comment[0] }}</p>
                        <h6 class="section-title">Posted on {{ comment[1].strftime('%H:%M %d-%m-%Y') }}
                            by {{ comment[3] }} {{ comment[4] }}</h6>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="wrapper">
        <div class="main-wrapper">
            <div class="profile-img">
                <img class="rounded-circle"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Generic placeholder image" width="45" height="45">
            </div>
            <div class="content">
                <div class="form-inline">
                    <textarea id="froala-editor"></textarea>
                    <br>
                    <button class="btn btn-primary" id="commentSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <nav class="navPage" style="text-align: center">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('discussion_post',category = cat,dis_id = dis_id, page = page - 1) }}">Previous</a>
                    </li>
                {% endif %}
                {% if numofPage < 10 %}
                    {% for pages in range(1,numofPage + 1) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('discussion_post',category = cat, dis_id = dis_id , page = pages  ) }}">{{ pages }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if page <5 %}
                        {% for pages in range(1,10) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('discussion_post',category = cat, dis_id = dis_id , page =pages  ) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for pages in range(page - 5,page + 5,1) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('discussion_post',category = cat, dis_id = dis_id , page =pages  ) }}">{{ pages }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if page < numofPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('discussion_post',category = cat ,dis_id = dis_id , page = page + 1) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    <script>
        $(function () {
            $('textarea#froala-editor').froalaEditor({
                height: 200
            });
            $('#commentSubmit').click(function () {
                alert($('#froala-editor').val());
            });
        });
    </script>
{% endblock %}