{% extends "base.html" %}
{% block title %}Company - {% endblock %}
{% block head %}
    {{ super() }}
{#    Put additional head code here #}
    <style>
    .jumbotron {
{#        background-image: url("/static/img/job.jpg");#}
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/static/img/company.jpg');
        color: white;
        height: 200px;
    }
    .btn-secondary{
        background-color: #6c757d;
        color: white;
    }
    .btn-secondary:hover{
        background-color: #5a6268;
        color: white;
    }
    .filter{
        color: #999999;
    }
    .company-img {
        float: left;
        margin-right: 5px;
    }
    .job-name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .company-profile{
        margin-left: 20%;
        margin-right: 20%;
        font-size: 17px;
    }
    .job-name a {
        color:black;
    }
    .job-name a:hover {
        color: #1f75e1;
        text-decoration: none;
    }
    .job-item-footer {
        color: darkgray;
    }
    .job-cat{
        float:left;
    }
    .job-date{
        float: right;
    }
    .search-box {
        float: left;
        margin-top: 16px;
        color: black;
    }
    .search-box input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    .search-box button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
}

.search-box button:hover {
  background: #ccc;
}

    #profiletext{
        background-color: #4285F4;
        color: white;
    }

    #opencoursestext{
        background-color: #d9534f;
        color: white;
    }


    </style>
{% endblock %}
{% block content %}
<hr class="">
<div class="container target">
    <div class="row">
        <div class="jumbotron">
                <div class="col-sm-10">
                     <h1 class="">{{ tutor[3]}} {{ tutor[4] }}</h1>

                  <button type="button" class="btn btn-success">Contact me!</button>
        {#            <button type="button" class="btn btn-info">Send me a message</button>#}
                    <br>
                </div>

              <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="/static/img/{{ tutor[2] }}"></a>

                </div>
            </div>
          <br>
        </div>


    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted list" contenteditable="false" id="profiletext">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age</strong></span> 26</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Teaching Experience</strong></span> {{ tutor[6] }} years
                        </li>
            </ul>

        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading" id="profiletext">{{ tutor[3] }}'s Profile</div>
                <div class="panel-body">
                    {{ tutor[1] }}
                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false" id="profiletext">Open Courses</div>
                <div class="panel-body">
                    {% for subject in subList %}
                    {% if loop.index % 3 == 1 %}
                    <div class="row">
                        {% endif %}
                        <div class="col-md-4">
                            Course name : {{ subject[2] }}
                            <br>
                            Price : {{ subject[1] }}
                            <br>
                            Category : {{ subject[0] }}
                        </div>
                {% if loop.index != 0 and loop.index %3 == 0 %}
				    </div>
                    <hr>
                {% endif %}
                {% endfor %}
            </div>

            </div>

        </div>

    </div>
           <div class="panel panel-default">
                <div class="panel-heading" id="profiletext">Video Introduction</div>
                <div class="panel-body">
                <iframe width="527" height="315" src="{{ tutor[7] }}"></iframe>
                </div>
</div></div>

            <div id="push"></div>
        </div>

</div>
{% endblock %}