{% extends "base.html" %}
{% block title %}Tutors - {% endblock %}
{% block head %}
    {{ super() }}
{#    Put additional head code here #}
    <style>
        .jumbotron {
{#        background-image: url("/static/img/job.jpg");#}
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/static/img/tutor.jpg");
            background-repeat: no-repeat;
            background-size: 100% Auto;
            color: white;
    }
    .col-lg-4 {
        text-align: center;
    }
    .btn-secondary{
        background-color: #6c757d;
        color: white;
    }
    .btn-secondary:hover{
        background-color: #5a6268;
        color: white;
    }
{#        .btn-primary{#}
{#            float: right;#}
{#    }#}
    .search-container {
        float: left;
        margin-top: 16px;
        color: black;
    }
    .search-container input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;

}

.search-container button:hover {
  background: #ccc;
}


    #beatutor a{
        color: white;
    }
    @media screen and (max-width: 600px) {
        .jumbotron {
            background: #4c2105;
            background-size: Auto 100%;
        }
    }


    </style>
{% endblock %}
{% block content %}
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Find a tutor</h1>
          <p>Our filtering system can help you find a tutor for you.</p>
            <div class="search-container">
                <form action="#">
                    <input type="text" placeholder="Find tutors..." name="search" size="35">
                    <button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>

      </div>
      <div class="filter" align="center">
          <form class="form-inline">
            <div class="form-group">
                <select class="selectpicker" multiple title="All tutor">
                    {% for subject in subList %}
                    <option value="{{ subject[0] }}">{{ subject[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-secondary">Filter</button>
              <a type="button" class="btn btn-primary" id="beatutor" href="{{ url_for('registernewtutor') }}">Become a Tutor</a>
          </form>
      </div>
    <br>
      <div class="container">

        <!-- Example row of columns -->
          {% for tutor in tutorList %}
              {% if loop.index %3 == 1   %}
                <div class="row">
              {% endif %}
                <div class="col-lg-4">
                <a href = "/tutor/{{ tutor[0] }}">
                <img class="rounded-circle" src="/static/img/{{ tutor[2] }}" alt="Generic placeholder image" width="140" height="140">
                  <p>{{ tutor[6] }} {{ tutor[7] }}</p>
                </a>
                <h5><b>Open courses:</b> {{ tutor[9] }}</h5>
                  <h5><b>Price:</b> {{ tutor[4] }}/Hr</h5>
                  <h5><b>Bio:</b> {{tutor[1]}}</h5>
                </div>
            {% if loop.index % 3 ==0 and loop.index != 0 %}
                </div>
              {% endif %}
      {% endfor %}

      </div> <!-- /container -->
    <nav class="navPage" style ="text-align: center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#">Previous</a>
            </li>
            {% for page in range(numofPage) %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('tutor', page = loop.index) }}">{{ loop.index }}</a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}