{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" xmlns="http://www.w3.org/1999/html">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css"/>
      <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


    <style>
        .search-container input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

        .search-container button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }

        .search-container button:hover {
            background: #ccc;
        }

        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif
        }

        .w3-text-teal, .w3-hover-text-teal:hover {
            color: #347aa9 !important;
        }

        .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: white;
        }

        .button, html [type=button], [type=reset], [type=submit] {
            -webkit-appearance: none;

        }

        .form-control {
            display: inline;
            width: 100%;
            margin-left: 5%;
        }

        label {
            margin-left: 5%;
        }

        .modal-header, .close {
            background-color: #337ab7;
        }

        .modal-body {
            width: 90%;
        }

        .w3-padding-16 {
            padding-bottom: 0px !important;
            margin-bottom: 0px !important;
        }

    </style>


{% endblock %}
{% block content %}




    <body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="/static/img/user/{{ user[0] }}/{{ picture[1] }}" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomright w3-container w3-text-black">
                            <button style="margin-bottom: 10%;" class="btn btn-primary btn-md" data-title="Edit"
                                    data-toggle="modal"
                                    data-target="#editpicture"><span
                                    class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                    </div>

                </div>
                <br>

                <!-- End Left Column -->
            </div>

            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fas fa-info fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>My Profile
                    </h2>
                    <div class="w3-container">

                        <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"
                              style="margin-top: 5%; "></i><b>Name:</b> {{ user[4] }} {{ user[5] }}

                        </p>


                        <p style="margin-top: 5%;"><i
                                class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Date of birth:</b>
                            {{ user[8].strftime('%d-%m-%Y') }}

                        </p>
                        <p style="margin-top: 5%;"><i
                                class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Email:</b>
                            {{ user[1] }}

                        </p>

                        <p style="margin-top: 5%;">
                            <i class="fas fa-address-book fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Role:</b>
                            {% if user[6] == 0 %}
                            User
                            {% else %}
                            User and Tutor
                            {% endif %}
                        </p>

                        <hr>
                        <button type="button" data-toggle="modal" data-title="Edit" class="btn btn-primary"
                                data-target="#editprofile" style="margin-bottom: 5%;">Edit Profile
                        </button>
                    </div>
                </div>
                <!-- End Right Column -->
            </div>


            <div id="editprofile" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Edit your profile here</h4>
                        </div>
                        <div class="modal-body form-horizontal">
                            <div id="endorsement-form-container" class="">
                                <form class="form-horizontal" onsubmit="return checkalledituser()" method="POST" action="{{ url_for('edit_user', user_id = user[0]) }}"
                                     >
                                    <div class="form-group">

                                        <div>
                                            <label for="userUsernamevalue"><span style="color: red;">*</span> User Name:</label><br>
                                            <input type="text" class="form-control" id="userUsernamevalue" name="userUsername"
                                                    value="{{ user[2] }}"
                                                   placeholder="Edit your user name here" required/>
                                        </div>
                                        <div id="userUsernamestatuses" style="margin-left: 5%;">
                                        </div>

                                        <div>
                                            <label for="userpasswordvalue"><span style="color: red;">*</span> Password:</label><br>
                                            <input type="password" class="form-control" id="userpasswordvalue" name="userpasswordvalue"

                                                   placeholder="Edit your password here" required/>
                                        </div>
                                        <div id="userpasswordstatuses" style="margin-left: 5%;">
                                        </div>

                                        <div>
                                            <label for="userfirstnamevalue"><span style="color: red;">*</span> First Name:</label><br>
                                            <input type="text" class="form-control" id="userfirstnamevalue" name="firstname"
                                                   value="{{ user[4] }}"
                                                   placeholder="Edit your first name here" required/>
                                        </div>
                                        <div id="userfirstnamestatuses" style="margin-left: 5%;">
                                        </div>
                                        <div>
                                            <label for="userlastnamevalue"><span style="color: red;">*</span> Last Name:</label><br>
                                            {#                                            <input type="text" class="form-control" id="lastnamevalue"#}
                                            {#                                            <label for=>Last Name:</label><br>#}
                                            <input type="text" class="form-control" id="userlastnamevalue" name="lastname"
                                                    value="{{ user[5] }}"
                                                   placeholder="Edit your last name here" required/>
                                        </div>
                                        <div id="userlastnamestatuses" style="margin-left: 5%;">
                                        </div>
                                        <div>
                                            <label for="edituserdateofbirth"><span style=" color: red;">*</span> Date of
                                                birth:</label><br>

                                            <div>
                                                <input style="margin-left: 5%;"
                                                       class="form-control" id="edituserdateofbirth" name="edituserdateofbirth" value="{{ user[8].strftime('%d-%m-%Y') }}"
                                                       placeholder="Date of birth" type="text" required/>
                                            </div>
                                        </div>
                                        <div id="userdateofbirthstatuses" style="margin-left: 5%;">
                                        </div>
                                        <div>
                                            <label for="useremailvalue"><span style="color: red;">*</span> Email:</label><br>
                                            <input type="text" class="form-control" id="useremailvalue" name="useremail"
                                                   value="{{ user[1] }}"
                                                   placeholder="Edit your email here" required/>
                                        </div>
                                        <div id="useremailvaluestatus" style="margin-left: 5%;">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success" style="margin-left: 2%;">Update
                                    </button>

                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


           {#            Edit picture Dialog#}
            <div class="modal fade" id="editpicture" tabindex="-1" role="dialog" aria-labelledby="edit"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                                    class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">Upload Your Profile Picture</h4>
                        </div>
                        <form enctype="multipart/form-data" class="form-horizontal" action="{{ url_for('edit_user_profile_picture', user_id = user[0]) }}"
                              onsubmit="return checkuploadpicture()" method="POST"
                              >
                            <div style="text-align: center; width:100%" class="modal-body">
                                <div>
                                    <img id="img0" src="#" alt="" style="display: none; width:90%; height:90%;"/>
                                    <button id="buttonUpload" onclick="uploadFile()" type="button"
                                            class="btn btn-secondary btn-lg">
                                        +
                                    </button>
                                    <input id="input-image-3" name="input-image" type="file"
                                           class="btn btn-secondary btn-lg"
                                           onchange="readURL2(this) ;" accept="image/*"
                                           multiple style="display: none">
                                    <button id="changePicture" onclick="uploadFile()" type="button"
                                            class="btn btn-secondary btn-lg" style="display:  none; margin-top:2%">
                                    </button>


                                </div>
                            </div>
                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-success" style="margin-left: 2%;">Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    </body>
    <script src="/static/js/verificationEditUser.js"></script>

     <!-- Include Date Range Picker -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

        <script>
            $(document).ready(function () {
                var date_input = $('input[name="edituserdateofbirth"]'); //our date input has the name "date"
                var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                date_input.datepicker({
                    format: 'dd-mm-yyyy',
                    container: container,
                    todayHighlight: true,
                    autoclose: true,
                })
            })
        </script>





{% endblock %}
